@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
body {
  background: #e7f6f2;
  font-family: "Titillium Web";
}

main {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}
